body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
span{
  color: midnightblue;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.card{
  width: 49%;
}
.left{
  float: left;
}
.right{
  float:right;
}

.tile-image{
  width: 50%;
  float:left;
  margin-right: 50px;
  margin-bottom:10px;
}

@media (max-width: 680px){
  .logo{
    height: 20px;
  }
  
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .tile-image{
    width: 100%;
    margin-bottom: 20px;
    display: inline;
    object-fit: cover;
  }
  .card{
    display: block;
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
  }

}

