#orange{
    background-color: orange;
    height: 200px;
    width: 900px;
}

#green{
    background-color: green;
    height: 200px;
    width: 900px;
}
#white{
    background-color: white;
    height: 200px;
    width: 900px;
    
}
#ashoka{
    border: 3px solid blue;
    border-radius: 50%;
    height: 195px;
    width: 200px;
    margin-left: 350px;
}